.display-1 {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Times New Roman';
}
.goal-shooting {
  text-align: center;
}
.shot-btn {
  background-color: orange;
  border-style: none;
  border-radius: 20px;
  color: white;
  padding: 6px 6px;
  width: 200px;

}